.questions{
    background-color: #F0F0F0;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    min-width: 200px;
    max-width: 240px;
    display: inline-block;
}

.question{
    height: 60px;
    border: solid;
    border-width: 2px;
    background-color: #FFFFFF;
    padding-top: 14px;
    margin: 15px;
    border-color: #d0d0d0;
    text-align: center;
    min-width: 155px;
}

.qText{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    display: inline-block;
    font-size: 17px;
    margin:2px;
}

.qimg{
    width:17px;
    display:inline-block;
    margin: 2px;
    margin-right: 4px;
}