.checkbox{
    margin-right: 10px;
}
.optionbox{
    margin-right: 10px;
    width: 40%;
    margin-bottom: 10px;
}
.options{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Lucida Console", Monaco, monospace;
}