.templateDelete{
    padding-top: 10px;
    padding-left:16px;
    padding-right:16px;
    margin-left:9px;
    margin-right: 9px; 
}
.showdel{
    border: solid 2px #C4E1FF;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius:10px;
}
.temp{
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.del{
    margin-left: 20px;
    border: solid 1px #808080;
    border-radius:10px;
}