#interests {
  margin-left: 40px;
  margin-top: 30px;
}

#interests .label {
  color: white;
  padding: 8px;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  margin-right: 2px;
  border-radius: 5%;
}

#interests h1 {
  font-size: 35px;
  margin: 60px 40px 50px 0px;
}

#interests .music {
	background-color: #f5899b;
} 

#interests .travels {
	background-color: #afeb0b;
} 

#interests .yoga {
	background-color: #e59cf7;
} 

#interests .web {
	background-color: #ff9800;
} 
#interests .dog {
	background-color: rgb(243, 240, 35);
} 

#interests .fashion {
	background-color: #17eff7; 
} 

.deleteInterest{
  width: 20px;
  height: 20px;
  padding:0;
}

.deleteInterest:hover{
  cursor: pointer;
}

.addInterest{
  margin-Left: 40px;
  margin-Top: 20px;
}

.addInterestButton{
	background-color: #F0F0F0;
	padding: 5px 10px;
	border-radius: 5px;
  border: none;
  margin-left: 10px;
}

.addInterestButton:hover{
  box-shadow: 0 3px 6px 0 #F0F0F0, 0 3px 6px 0 #F0F0F0;
	background-color: #deebfc;
}

.editInterestButton{
  background-color: #F0F0F0;
	padding: 5px 10px;
	border-radius: 5px;
  border: none;
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 20px;
}

.editInterestButton:hover{
  box-shadow: 0 3px 6px 0 #F0F0F0, 0 3px 6px 0 #F0F0F0;
	background-color: #deebfc;
}

.saveInterestButton{
  background-color: #F0F0F0;
	padding: 5px 10px;
	border-radius: 5px;
  border: none;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 20px;
}

.saveInterestButton:hover{
  box-shadow: 0 3px 6px 0 #F0F0F0, 0 3px 6px 0 #F0F0F0;
	background-color: #deebfc;
}


