.small-icon {
    width: 40px;
    margin-right: 10px;
    border: 2px solid transparent;
    border-radius: 50%;
}
.small-icon:hover{
    cursor: pointer;
    border-color: #87CEFA;
    box-shadow: 0 5px 10px 0 #F0F0F0, 0 5px 10px 0 #F0F0F0;
}

#navbar-brand {
    padding: 10px;
}

#navbar-brand:hover {
    background-color: lightblue;
}

#logoutButton {
	margin: 10px;
    border: none;
    padding: 5px 12px;
    text-align: center;
    /* color: white; */
    background-color: #F0F0F0;
    border-radius: 5px;
    /* font-size: 15px; */
}

#logoutButton:hover {
    box-shadow: 0 3px 6px 0 #DFDFDF, 0 3px 6px 0 #DFDFDF;
    background-color: #deebfc;
}

#logoutButton:focus {outline:0;}

.loginBtn {
    margin-right: 20px;
    background-color: #F0F0F0;
    padding: 5px 12px;
    border-radius: 5px;
    border: none;
    color: black;
}

.loginBtn:hover{
    box-shadow: 0 3px 6px 0 #DFDFDF, 0 3px 6px 0 #DFDFDF;
    background-color: #deebfc;
}

.loginBtn:focus {outline:0;}
