.sidebar {
    width: 20%;
    background-color:#F0F0F0;
    text-align: center;
    height: 100vmin;
}

.tabs { 
    text-align: center;
    height: 50px;
    background-color:#ffffff;
    padding:12.5px;
    margin: 2px;
}

.user {
    height: 250px;
    margin-top:20px;
}

.sidebar img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.tabText {
    color: #2e3136;
    font-size: 18px;
    display: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.userText {
    margin-top: 10px;
    font-weight: bold;
    font-family: Monospace, Serif, sans-serif;
}

.tabs:hover {
    background-color: #deebfc;
}